.Botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 10px;
}

.Botoes button {
    background-color: rgb(44, 148, 143);
    color: #FFF;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
}